{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="ghosts">
        <h1>История создания j'aime lireе</h1>
        <h5>С самого детства мы были окружены книгами. Они были нашими лучшими друзьями, проводниками в миры, о которых мы даже не мечтали. Мы росли в маленьком городке, где каждый дом был словно страница из старинной книги, и всегда мечтали создать место, где люди могли бы не только наслаждаться чтением, но и делиться своими мыслями за чашечкой ароматного кофе.</h5>
        <h5>Однажды, гуляя по старому району, мы заметили заброшенное здание с большими окнами и высокими потолками. Внутри всё было покрыто пылью, но мы сразу увидели потенциал этого места. Мы решили, что именно здесь и будет наша кофейня-библиотека.</h5>
        <h5>Мы начали с ремонта. Пригласили друзей и знакомых, и вместе превратили старое здание в уютное пространство. Стены украсили полки с книгами, а в центре поставили большой стол, за которым можно было проводить литературные вечера. В углу разместился бар, где готовили кофе по уникальным рецептам.</h5>
        <h5>Когда наша кофейня-библиотека открылась, она сразу привлекла внимание жителей города. Люди приходили сюда не только за книгами и кофе, но и за атмосферой, которую мы создали. Здесь проводились встречи с авторами, литературные клубы и даже мастер-классы по рисованию и каллиграфии.</h5>
        <h5>Со временем наша кофейня-библиотека стала настоящим центром культурной жизни города. Мы были счастливы видеть, как наша мечта воплотилась в жизнь, и как люди находили здесь вдохновение и новые знакомства.</h5>
    </div>
{% endblock %}