{% extends 'main/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class = "features">
        <h1>J'aime lire - рай для кофеманов!</h1>
        <h4>Приходите туда, где кофе пахнет уютом... <br> Представьте себе уголок спокойствия посреди городской суеты. Кофейня, где аромат свежезаваренного эспрессо смешивается с запахом старых страниц книг. Здесь каждый столик становится вашим личным пространством, идеальным местом для погружения в любимое чтение или размышлений над чашечкой горячего напитка.</h4>
        <h4>Здесь вам предложат не просто вкусный кофе, а настоящий ритуал наслаждения вкусом и ароматом. Вы сможете насладиться каждым глотком вашего любимого капучино, американо или латте, одновременно открывая новые страницы любимых произведений.</h4>
        <h4>Мы приглашаем вас посетить нашу кофейню, где каждое мгновение наполнено теплом и заботой. Приходите сюда, чтобы отдохнуть душой, почитать книгу или встретиться с друзьями. Мы ждем именно вас!</h4>
        <h4>Добро пожаловать в мир вкусного кофе и хорошей литературы!</h4>
        <ul>
            <a href = "{% url 'about' %}" style="text-decoration: none;"><li><button type="button" class="btn btn-outline-secondary btn-lg">Узнать больше о j'aime lire!</button></li></a>
        </ul>
    </div>
{% endblock %}